<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0">
<!-- Esto es basicamente informativo -->
  <display-name>ProyectoImcReto06</display-name>


<!--  En esta zona va el mapeo de las paginas -->
 <servlet>
        <servlet-name>ServletSalud</servlet-name>
        <servlet-class>ServletImc</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletSalud</servlet-name>
        <url-pattern>/CalcularImc</url-pattern>
    </servlet-mapping>



</web-app>
