:root {
  /* *1.- PALETA DE COLORES DE TODA LA WEB CON VARIABLES*/
  /* Definimos variables para el TONO del fondo y tono del texto general */
  /* ! Para cambiar el color general del texto y background cambiar */
  /* ! cambia --tonoDelFondo ó tonoDelTexto */
  --tonoDelFondo: 59; /* HSL 59: Tono amarillo */
  --tonoDelTexto: 240; /* HSL 240: tono azul   */
  /* Variable para el color de fondo ( Background-color ) */
  /* --colorFondo: hsl(var(--tonoDelFondo), 68%, 85%); /* Amarillo crema */
  --colorFondo: hsl(var(--tonoDelFondo), 68%, 85%); /* Amarillo crema */
  --colorTexto: hsl(var(--tonoDelTexto), 85%, 50%); /* Azul purpura  */
  /* --colorTexto: hsl(var(--tonoDelTexto), 96%, 19%); Azul purpura  */
}

/* *2.- RESET: Comportamiento igual para todos los elementos */
/*  Se incluye todas las etiquetas con el * y los agregados ( en caso de que se hicieran) son todos *::after y *::before . */
*,
*::after,
*::before {
  /* * Control de medidas (muy importante) */
  /* * Aplicamos el modelo de caja a TODO el documento.
   * en el tamaño de la caja esta incluido el padding y border  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *3.- BASE DE ESTILOS. Aplica a todos los elementos del body ( clase="cuerpo" ) */
.cuerpo {
  background-color: var(--colorFondo); /* *Color del fondo para todo  */

  /* ? Sino se asigna otro color en cada elemento mostrara este */
  color: var(--colorTexto); /* Color de fuente general para practicar. */

  font-family:
    "fira code", Arial, Helvetica, serif, sans-serif, monospace, cursive,
    fantasy;

  font-size: 100%; /* Para hacer responsive */
  line-height: 1.5; /* * Base de lectura cómoda */
  scroll-behavior: smooth; /* * Navegación fluida */

  -webkit-font-smoothing: antialiased; /* * Mejora el renderizado de letras en algunos sistemas */
  -moz-osx-font-smoothing: grayscale; /* * Mejora el renderizado de letras en algunos sistemas */
}

.header__titulo {
  /*Alinea el texto al centro  */
  text-align: center;
  /* Damos color basado en tono de fondo y variando saturacion y brillo */
  background-color: hsl(var(--tonoDelFondo), 68%, 60%);
  /* Color de letras segun definicion . CONSTRASTE RATIO 7,83 ENTRE FONDO Y TEXTO*/
  color: var(--colorTexto);
  /* Ajusta el ancho al largo del texto  */
  width: max-content;
  /* Separar un poco el texto del borde  */
  padding: 12px;
  /* Margen 0, arriba y abajo. auto centrado izq y der */
  margin: 0 auto;
  /* Para estilizar el recuadro que contiene el h1  */
  border-radius: 15px;
}

.divisor {
  /* Margen arriba y debajo */
  margin: 0.5rem;
}

.header__subtitulo {
  /* Hacemos un cambio de fuente para cumplir con el ejercicio */
  font-family: Serif;
  /* Lo separamos del header__titulo */
  margin-top: 0.7rem;
  text-decoration: underline darkorchid;
  font-weight: bold;
  /* 1 rem, toma como referencia el font-size definido en el root ( por defecto 16px=1rem) */
  /* la "r" viene de root y la "em" viene de la "M"...se tomo el ancho de la M como patron */
  margin-bottom: 2rem;
  margin-left: 0.8rem;
}
.nav {
  /* Separamos todo el menu de navegacion , ambas listas, del borde izquierdo, en unidades relativas */
  margin: 2rem;
  /* Damos mismo tono del fondo pero menos brillo  */
  background-color: hsl(var(--tonoDelFondo), 68%, 75%);
  /* Limito el backgroung al tamaño del texto en el menu, y veremos el background que lo rodea  */
  width: max-content;
  border-radius: 0.8rem;
  /* Separar del borde */
  padding: 0.8rem;
}

.nav__titulo {
  /* Color de la fuente. Subi saturacion al 100% de 85% */
  color: hsl(var(--tonoDelTexto), 100%, 50%);
  /* Ancho del contenido */
  width: max-content;
  background-color: hsl(var(--tonoDelFondo), 68%, 85%);
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin: 0.5rem;
  border:solid 0.02rem hsl(var(--tonoDelTexto), 68%, 85%);
}

.nav__li {
  margin-left: 2rem;
}

.articulos__titulo {
  /* Hacemos un cambio de fuente para cumplir con el ejercicio */
  font-family: sans-serif;
  /* Lo separamos del header__titulo */
  margin-top: 0.7rem;
  text-decoration: underline rgb(13, 185, 1);
  font-weight: bold;
  /* 1 rem, toma como referencia el font-size definido en el root ( por defecto 16px=1rem) */
  /* la "r" viene de root y la "em" viene de la "M"...se tomo el ancho de la M como patron */
  margin-bottom: 1.5rem;
  margin-left: 2.1rem;
}

.articulo {
/* Separamos todo el menu de navegacion , ambas listas, del borde izquierdo, en unidades relativas */
  margin: 2rem;
  /* Damos mismo tono del fondo pero menos brillo  */
  background-color: hsl(var(--tonoDelFondo), 68%, 75%);
  /* Limito el ancho al 95% del view Width */
  width: 95vw;
  border-radius: 0.5rem;
  /* Separar del borde */
  padding: 0.8rem;

}

.articulo__header {
  /* Centra el background dentro de articulo  */
width: auto;
background-color: hsl(var(--tonoDelFondo), 68%, 85%);
padding: 0.8rem;
border-radius: 0.5rem;
}

.articulo__header-titulo {
  color: hsl(var(--tonoDelTexto), 65%, 45%);
  font-family: fantasy;
  font-weight: initial;
}

.articulo__header-subtitulo {
  color: hsl(var(--tonoDelTexto), 100%, 65%);
}

.articulo__parrafo {
  /* Defino el ancho como 90% del ancho de view width ( pantalla ) */
  width:90vw;
  margin-bottom: 2rem;
  color: hsl(var(--tonoDelTexto), 100%, 40%);
}

/* Parrafo centrado */
.articulo__parrafo--justificado {
text-align:justify;
}

.articulo__parrafo--centrado {
text-align:center;
}

.articulo__parrafo--izquierda {
  text-align: left;
}

.articulo__parrafo--derecha {
text-align: right;
}

.link--irMenu {
  /* Un link es inLine y estos ocupan solo su contenido y no la linea completa  */
  /* Para alinearlo a la izquierda hay que convertirlo a block, que ocupa la linea */
  display: block;
  /* Como bloque, que ocupa toda la linea si se puede alinear a la izquierda */
  text-align: left;
  /* Color igual al titulo de los articulos */
  color: hsl(var(--tonoDelTexto), 65%, 45%);
  /* Lo resaltamos en negrita */
  font-weight: bold;
  /* Letra cursiva para diferenciar el link */
  font-family: cursive;
  /* Background del fondo para resaltar el texto */
  background-color: hsl(var(--tonoDelFondo), 68%, 85%);
  /* Reajustamos el ancho para que el color de background ocupe solo el ancho del texto del link */
  width: max-content;
  /* Separamos un poco de los lados y extendemos asi el color claro que rodea el texto */
  padding: 0.5rem;
  /*  Redondeamos el aura blanca que rodea el texto */
  border-radius: 0.3rem;
  /* Lo separamos un poquito del parrafo anterior */
  margin-top: 0.5rem;
}

.articulo__img {
  /* Defino el ancho de la imagen en 60% del view width ( pantalla del momento)  */
  width:60vw;
  /* Para que mantenga la proporcion original que la altura de ajuste sola */
  height:auto;
  /* Una imagen es elemento inLine ( como si fuera una letra). Como bloque ocupara toda la linea */
  display: block;
  /* Despues de ser block le podemos decir que le ponga margenes automaticos ( reparte por los lados) = centrar */
  margin: auto;
  /* Le colocamos esquinas redondeadas a todas las imagenes*/
  border-radius:1.5rem;
/* Separamos la imagen del fondo */
  margin-bottom: 3rem;
  border: solid 0.1rem hsl(var(--tonoDelTexto), 65%, 45%);
  /* SOMBRA INTERMEDIA */
  /* 0px (X) | 10px (Y) | 20px (Difuminado) | Color con 60% de opacidad */
  box-shadow: 0 10px 20px hsla(var(--tonoDelTexto), 65%, 20%, 0.6);

}

.footer {
/* Separamos todo el menu de navegacion , ambas listas, del borde izquierdo, en unidades relativas */
  margin: 2rem;
  /* Damos mismo tono del fondo pero menos brillo  */
  background-color: hsl(var(--tonoDelFondo), 68%, 75%);
  /* Limito el ancho al 95% del view Width */
  width: 95vw;
  border-radius: 0.5rem;
  /* Separar del borde */
  padding: 0.8rem;

}





