body {
  background-color: rgb(130, 105, 153);
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family:
    verdana,
    impact,
    fira code;
}

h3.font_roboto {
  /* Se importó con peso de 700 , que es negrita */
  font-family: "Roboto", sans-serif, serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  line-height: 1.6; /* Esto da más espacio entre líneas, se ve mejor */
}

h3.font_Monserrat {
  font-family: Monserrat, arial, serif;
  font-size: 18px;
  color: black;
  line-height: 1.8;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

pre {
  white-space: pre-line; /* Colapsa espacios en blanco pero mantiene saltos */
  margin: 0;
  padding: 0;
}

.fuentesMasUsadas {
  color: rgb(186, 182, 182);
  text-shadow: 2px 2px 3px rgb(139, 21, 0);
}
