
/*Estilos para moviles por defecto */
body {
background-color: lightgreen;
	}

/* Estilos para tablets */
@media screen and (min-width: 768px) {
body {
background-color: lightblue;
		}
	}
/* Estilos para desktop */
@media screen and (min-width: 1024px) {
body {
background-color: lightcoral;
		}
	}
